{% extends "layout.html" %}
{% block navigation %}{{ super( ) }}{% endblock %}
{% block content %}
	<p><a href="#" onClick="if(document.referrer) {window.open(document.referrer,'_self');} else {history.go(-1);} return false;">&laquo; zurück</a></p>
	<h1>{{ restaurant['name'] }} - <small>{{ restaurant['avg_rating'] }} <span style="color: #ED0;"><strong>&#9733;</strong></span></small></h1>
	<hr>
	<span style="font-size: 12px;">
		{{ restaurant['street'] }} &bull; {{ restaurant['zip'] }} {{ restaurant['city'] }} &bull;
		<a target="_blank" href="{{ restaurant['url'] }}">Weitere Infos</a><br><br>
	</span>
	<p>{{ restaurant['description'] }}</p>
	<hr>
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6">
			{% for rating in ratings %}
				{{ rating['rating'] }} <span style="color: #ED0;"><strong>&#9733;</strong></span> &bull; {{ rating['name'] }}<br>{{ rating['text'] }}
				<hr>
			{%endfor%}
		</div>
	</div>

	{% if session_user != None %}
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Eine Bewertung abgeben
				</div>
				<div class="panel-body">
					<form action="{{ url_for('.rate') }}" method="get">
						<div class="row">
							<input type="hidden" name="restaurant_id" value="{{ restaurant['id'] }}">
							<input type="hidden" name="user_id" value="{{ session_user['id'] }}">
 							<div class="col-md-12">
								<textarea name="text" placeholder="Ihr Kommentar" class="form-control" required="required"></textarea>
							</div>
							<div class="col-md-1">
								<span style="margin-top: 7px; display: block; font-size: 35px; height: 0px; color: #ED0;"><strong>&#9733;</strong></span>
							</div>
							<div class="col-md-5 text-center">
								<input style="margin-top: 15px;" class="form-control" type="number" name="rating" length="1" min="1" max="5" value="3">
							</div>
							<div class="col-md-6">
								<input type="submit" value="Bewertung abgeben" class="form-control btn btn-primary" style="margin-top: 15px;">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}
	</div>
{% endblock %}