{% extends "layout.html" %}
{% block navigation %}{{ super( ) }}{% endblock %}
{% block content %}
	<h1>Restaurants</h1>
	<p>
		Insgesamt {{ result_count }} Ergebnisse:
	</p>

	<hr>

	<div class="row">
	{% for restaurant in restaurants %}
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ restaurant['name'] }} - {{ restaurant['avg_rating'] }} <span style="color: #ED0;"><strong>&#9733;</strong></span>
					<span class="pull-right"><a href="{{ url_for('.detail', restaurant_id=restaurant['id']) }}">Details</a></span>
				</div>
				<div class="panel-body" style="height: 65px;">
					{{ restaurant['street'] }} &bull; {{ restaurant['zip'] }} {{ restaurant['city'] }}
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}